*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
}

img {
    width: 3em;
}

header {
    padding: 2em 1em;
    background-color: #fdf8ec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header #logo-wrapper img {
    width: 178px;
}

header nav ul {
    padding: 0 2em;
    display: flex;
    gap: 0 30px;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    font-family: "Manrope";
    color: #9B582E;
}

main {
    background-color: #fdf8ec;
}

main #hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main #hero h1 {
    justify-self: center;
    font-family: "Noto Serif";
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    color: #9B582E;
    max-width: 20ch;
}

main #hero h1 .black {
    color: #522F18;
}

main #hero p {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 18px;
    line-height: 26.1px;
    max-width: 78ch;
    margin: 2em 0;
    text-align: center;
}

main #hero-buttons {
    display: flex;
    gap: 3em;
}

main #hero-buttons button {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    padding: 0.7em 1em;
    border-radius: 32px;
}

#hero-request {
    background-color: #9B582E;
    color: #fff;
}

#hero-learn-more {
    background-color: transparent;
    border: 1px solid #CA7111;
    color:#CA7111;
}

#landing-page {
    margin: 5em 0;
}

#landing-page ul {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#landing-page ul li {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 20%;
    background-color: #fbf4df;

}

#landing-page ul li img {
    width: 100%;
    position: relative;
    top: -4em;
}

#landing-page ul li img.stars {
    width: 40%;
    top: 0;
}

#landing-page ul li h2 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    line-height: 28.5px;
    margin: 1em 0;
    max-width: 13ch;
}

#landing-page ul li p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    max-width: 30ch;
    line-height: 19.5px;
}

#landing-page ul li a {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 11px;
    line-height: 12.38px;
    margin: 1.5em;
    color: #9B582E;
}

#chef-boss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
}

#chef-boss #chef-wrapper img {
    width: 299px;
    height: 562px;
    border-radius: 149.5px;
    object-fit: cover;
}

#chef-boss #chef-title-description {
    margin-left: 8%;
}

#chef-boss #chef-title-description img {
    width: 132px;
    margin: 3em 0;
}

#chef-boss h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    color: #222222;
}

#chef-boss p {
    max-width: 74ch;
    font-size: 18px;
    line-height: 27px;
}

#desserts {
    margin: 0 2em;
    border-radius: 32px;
    background-color: #FBF4DF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

#desserts > h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    margin-top: 1em;
}

#desserts > img {
    width: 132px;
    margin: 1em 0;
}

#desserts > h5 {
    font-family: "Manrope";
    font-size: 11px;
    line-height: 12.38px;
    color: #222222;
}

.dessert-cards {
    width: 90vw;
    height: 498px;
    display: flex;
    align-items: center;
    gap: 1.5em;
    list-style: none;
    background-color: #FEFCF6;
    margin: 1em 2em;
    border-radius: 16px;
}

.dessert-cards img {
    width: 370px;
}

.dessert-cards h3 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 56px;
    line-height: 62.72px;
    color: #222222;
}

.desserts, .dessert-cards .desserts-title-description > p {
    font-family: 'Manrope';
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin: 2em 0;
    max-width: 55ch;
}

.dessert-cards .food-table {
    margin-left: 3em;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 24px;
    background-color: #F9E8DC;
    padding: 1em 2em;
    gap: 16px;
}

.food-table article {
    margin: 4px;
}

.food-table p {
    font-family: "Manrope";
    font-size: 11px;
    line-height: 12.38px;
    color: #6E6E6E;
}

.food-table strong {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

#dessert-request {
    display: flex;
    background-color: #F9EECD;
    border-radius: 8px;
    padding: 32px;
    width: 90vw;
    margin: 1em 0;
}

#dessert-request p {
    font-family: "Manrope";
    line-height: 24px;
    max-width: 110ch;
}

#dessert-request button {
    background-color: #9B582E;
    padding: 8px 16px;
    color: #fff;
    border-radius: 32px;
}

#feedback {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

#feedback-right {
    width: 50%;
}

#feedback-right h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
}

#feedback-right img:last-of-type {
    position: relative;
    width: 197px;
    top: -11em;
    right: -24em;
}

#feedback-right img.star {
    width: 132px;
    display: block;
    margin-top: 1em;
}

#feedback-left {
    margin-top: 3em;
}

#feedback-left h6 {
    font-family: 'Manrope';
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
    margin: 1.5em 0;
}

#feedback-left q {
    display: block;
    max-width: 50ch;
    font-family: "Manrope";
    font-weight: 500;
    line-height: 24px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF4DF;
    margin-top: 9em;
}

#form-title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

#form-title-subtitle h1 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
}

#form-title-subtitle img {
    width: 132px;
    margin: 1em 0;
}

#form-title-subtitle h4 {
    font-weight: 500;
    line-height: 24px;
    color: #3D3D3D;
}

#form-container {
    display: flex;
    justify-content: center;
    margin-top: 4em;
    gap: 3em;
}

#footer-info {
    width: 40%;
}

#form-info h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6E6E6E;
    margin: 1em 0;
}

#form-info p {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #222222;
}

#form-fill {
    flex-direction: column;
    width: 488px;
    height: 593px;
    background-color: #F9EECD;
    padding: 64px 48px;
    border-radius: 8px;
    margin-bottom: 106px;
}

form {
    margin-top: -10em;
}

#form-fill img {
    width: 150px;
    position: relative;
    top: -8em;
    right: -18em;
}

#form-fill input, #form-fill label {
    width: 90%;
    margin: 1em 0;
    display: block;
    border-radius: 8px;
}

#form-fill input, #form-fill textarea {
    border: 1px solid #E0E0E0;
}

#form-fill input {
    width: 333px;
    height: 48px;
}

#form-fill input::placeholder {
    padding-left: 2em;
}

#form-fill textarea {
    width: 392px;    
    resize: none;
    padding: 12px 16px;
    border-radius: 8px;
}

#form-fill textarea::placeholder {
    font-family: "Arial";
}

#form-fill button {
    margin-top: 1em;
    max-width: fit-content;
    display: inline;
    background-color: #9B582E;
    padding: 8px 16px;
    border-radius: 32px;
    color: #fff;
}

#media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1400px;
    gap: 70px;
}

#media > h1 {
    font-family: "Noto Serif";
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
}

#media > img {
    width: 132px;
}

.media-articles {
    max-width: 750px;
}

.media-articles > h5 {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 11px;
    line-height: 12.38px;
    text-transform: uppercase;
}

.media-articles > h3 {
    font-family: 'Noto Serif';
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #222222;
    margin: 4px 0 16px 0;
}

.media-articles > h6 {
    font-family: "Manrope";
    font-weight: 400;
    font-size: 13px;
    line-height: 24.05px;
    color: #1E1E1E;
}

.media-articles > p {
    line-height: 24px;
    margin: 32px 0 64px 0;
}

.media-articles > a {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 18px;
    line-height: 16px;
    color: #fff;
    background-color: #9B582E;
    padding: 8px 16px;
    border-radius: 32px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fdf8ec;
}

footer li {
    list-style: none;
}

footer > img {
    width: 250px;
}

#footer-info {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin: 32px 0;
}

#footer-info > h5 {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

#footer-nav {
    display: flex;
    gap: 32px;
    margin-bottom: 8px;
}

#footer-nav a {
    font-family: "Manrope";
    font-weight: 600;
    font-size: 16px;
    line-height: 21.86px;
    color: #3D3D3D;
}

#footer-policies {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

#footer-policies {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #6E6E6E;
}